<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% if page %}
        <title>{{ page.title }} | {{ config.title }}</title>
        <meta name="description" content="{{page.description | safe}}" />
        {% elif section %}
        <title>{{ section.title }} | {{ config.title }}</title>
        <meta name="description" content="{{section.description | safe}}" />
        {% else %}
        <title>{{ config.title }}</title>
        <meta name="description" content="{{config.description | safe}}" />
        {% endif %}

        <meta name="author" content="{{config.author | safe}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href={{ get_url(path="style.css") }} />
    </head>

    <body>
        {% include "header.html" %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% include "footer.html" %}
    </body>
</html>
