{% extends "base.html" %}

{% block content %}
<header class="post-header">
    <h1><a href={{page.permalink}}>{{page.title}}</a></h1>
    <p class="subheader">
    {{ page.date | date(format="%B %e, %Y") }} —
    {{ page.reading_time }} min read
    </p>
    {% if page.description %}
        <p>{{page.description}}</p>
    {% endif %}

    {% if page.toc %}
    <section class="toc">
        <h1>Contents</h2>
        <ul>
            {% for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                    <li>
                        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
</header>

{{ page.content | safe }}
{% endblock content %}
